<section class="py-5">
    <div class="container py-5">
        <div class="row">
            <div class="d-flex justify-content-between">
                <input type="text" class="form-control mb-2 w-100" placeholder="Search by user ID"
                    [(ngModel)]="searchTerm">

            </div>

            <div class="py-5 col-md-4 cursor-pointer" *ngFor="let user of users|searchById:searchTerm">
                <a [routerLink]="['/userDetails',user.id]" class="text-decoration-none">
                    <div class="bg-white p-3 cursor-pointer">
                        <div class="d-flex justify-content-between align-items-center flex-column  myBoxBorder">
                            <div>
                                <img [src]="user.avatar" [alt]="user.id">
                            </div>
                            <div class="my-3 text-center userInfo">
                                <h1 class="h3  text-muted">{{user.first_name}} {{user.last_name}} </h1>
                                <h1 class="h3  text-muted">{{user.email}} </h1>
                                <span class="h1 text-muted ">ID : {{user.id}}</span>
                            </div>
                        </div>

                    </div>
                </a>
            </div>
        </div>
    </div>
</section>